body {
    background-color: #e8eaf6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1a237e
}

.content1 {
    background-color: #e8eaf6;
    width: 1700px;
    margin: 20px auto;
    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
    box-sizing: content-box;
    box-shadow: 2px 3px 2px 1px rgb(0, 0, 0, 0.2);
    background-color: rgb(251, 251, 255);
    min-height: 100px;
}

.content1,
titulo {
    position: relative;
    text-align: center;
    font-size: 14px;
}

.contenedor {
    margin-top: 10px;
    padding: 10px;

}

.contenedor,
#head {

    border-radius: 10px;
}

#th1,
#th2,
#th3,
#th4,
#th5,
#th6 {
    text-align: left;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
}



#th1 {
    width: 14%;
}

#th2 {
    width: 40%;
}

#th3 {
    width: 27%;
}

#th4 {
    width: 15%;
}

#th5,
#th6 {
    width: 5%;
}



#td1,
#td2,
#td3,
#td4,
#td5,
#td6 {
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}


#td1 {
    width: 14%;

}

#td2 {
    width: 40%;
}

#td3 {
    width: 27%;
}

#td4 {
    width: 15%;
}

#td5,
#td6 {
    width: 5%;
    cursor: pointer;
}


#td5 {
    background-image: url('../img/lapiz.png');
    background-repeat: no-repeat;

}


#td6 {
    background-image: url('../img/trash.png');
    background-repeat: no-repeat;

}

.section-pagina {

    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.paginate {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

/* agregar nuevo link */
/* .nuevolink {
    box-sizing: border-box;
    border: none;
    padding: 10px;
}

.input {
    width: 100%;
    outline: #575758;
}


.head {
    padding: 30px;
    text-align: center;
    margin: auto;
    font-size: 20px;
    color: #303f9f
}

.table,
.agregarlink {
    table-layout: fixed;
    width: 100%;

} */

/* ++++++++++++++++++++++++++++++ */

/* 
.table,
.thead {
    box-sizing: border-box;
    display: block;
}

.thead {
    width: 100%;
    position: relative;
    background-color: #303f9f;
    color: #eaeaf0;
    min-height: 40px;
}

.thead,
.th {
    box-sizing: border-box;
    float: left;
    padding: 5px;
}

.th {
    padding-top: 5px;
    padding: 5px;
}

#url1 {
    width: 13.3%;
}

#url2 {
    width: 70%;
}

#url3 {
    width: 6%;
}

#url5 {
    width: 8%;
}

#url1,
#url2 {
    text-align: left;
    padding-left: 20px;
}

#url3 {
    text-align: right;
    padding-right: 50px;
}

.sd {
    border-radius: 5px;
    cursor: pointer;
} */

/* *************************************************** */





/* 
.tbody {
    width: 100%;
    color: rgb(121, 119, 119);
    box-sizing: border-box;
}



.tbody,

#td1,
#td2,
#td3,
#td4 {
   text-align: left;
    box-sizing: border-box;
    float: left;
    padding-top: 15px;
    padding-bottom: 8px;
    margin-left: 8px;
}
.tbody,
.st {
    margin: 10px 0;
    position: relative;
    background-color: #bcbfdb;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;

}

#td1 {
    width: 10%;
    
    
}

#td2 {
    width: 68.5%;
    position: relative;
    background-color: #c7c7cc;
   
    max-height: 30px;
    padding: 10px;
}

#td3,
#td4 {
    margin-left: 8px;
    width: 7.5%;

}

#td3,
#td4,
btntd {
    cursor: pointer;

}

.tr,
#td3 {
    background-image: url('../img/lapiz.png');
    background-repeat: no-repeat;
    background-color: #1a237e;
}

.tr,
#td4 {
    background-image: url('../img/trash.png');
    background-repeat: no-repeat;
    background-color: aqua;
}

#td1,
#td2 {
    text-align: left;
}

#td3 {
    padding-left: 15px;
}
 */


/* ***************************************************** */
.btnuevo {
    position: relative;
    margin-top: 15px;
    margin-bottom: 5px;
    min-height: 40px;
}

/* ***************************************************** */
#btn {
    position: relative;
    float: right;
    padding: 10px;
    background-color: #303f9f;
}

.button {
    border-radius: 5px;
    border: none;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
}

.section-pagina {
    width: 100%;
}

.tfoot,
.section-pagina {
    text-align: end;
}

/* responsivo */
@media(max-width: 900px) {
    html {
        margin: 0;
        padding: 0;
        list-style: none;
        border: none;
        outline: none;
    }

    .content {
        position: relative;
        box-sizing: border-box;
        width: 100%;

    }

    .button {
        float: right;
        box-sizing: border-box;
    }

    #td3 {
        width: 100%;
    }

    .thead,
    #fig {
        display: none;
        visibility: hidden;
    }
}

@media(max-width: 480px) {
    .content {
        width: 100%;
        height: 100%;
    }
}