body {
    /* caracteristicas generales */
    background-color: #ede7f6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #361c72
}

.container-style,
.section-style {
    /* Estilo general de los contenedores */
    background-color: rgb(251, 251, 255);
    margin: auto;
    padding: 30px;
    margin-top: 30px;
    box-shadow: 2px 3px 2px 1px rgb(0, 0, 0, 0.2);
}

.container {
    /* login registro */
    width: 550px;
}

.section {
    /* formularion de creacion */
    width: 1000px;
}

.tittle {
    /* titulos en general */
    background-color: transparent;
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* label{
position: relative;
text-align: left;
} */

textarea {
    max-width: 100%;
    min-height: 200px;
    max-height: 400px;
    box-sizing: border-box;

}

.checkbox {
    padding-left: 10px;
    width: 100%;
    text-align: left;
}

#ocultar {
    border: none;
    width: 20px;
    outline-style: none;
}


.label,
.input,
#submit {
    /* login resgistro */
    border-radius: 7px;
    border: none;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

.input,
.style-input {
    /* inputs generales */
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #f4f6fd;
}

#submit {
    background-color: #512DA8;
    color: #ffffff;
    margin-top: 30px;

}

@media(max-width: 868px) {
    .container {
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 480px) {
    .container {
        width: 100%;
        height: 100%;
    }
}